* {
    outline: none;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto-regular;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-regular.ttf');
}

@font-face {
    font-family: montserrat-extralight;
    font-weight: 200;
    src: url('../fonts/montserrat/montserrat-extralight.ttf');
}

@font-face {
    font-family: montserrat-regular;
    font-weight: 400;
    src: url('../fonts/montserrat/montserrat-regular.ttf');
}

@font-face {
    font-family: montserrat-light;
    font-weight: 300;
    src: url('../fonts/montserrat/montserrat-light.ttf');
}

@font-face {
    font-family: raleway-regular;
    font-weight: 400;
    src: url('../fonts/raleway/raleway-regular.ttf');
}

@font-face {
    font-family: raleway-medium;
    font-weight: 500;
    src: url('../fonts/raleway/raleway-medium.ttf');
}

@font-face {
    font-family: raleway-semibold;
    font-weight: 600;
    src: url('../fonts/raleway/raleway-semibold.ttf');
}

@font-face {
    font-family: raleway-extrabold;
    font-weight: 700;
    src: url('../fonts/raleway/raleway-extrabold.ttf');
}

@font-face {
    font-family: raleway-bold;
    font-weight: 700;
    src: url('../fonts/raleway/raleway-bold.ttf');
}

body {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    font-family: "Arial";
    box-sizing: border-box;
}


.main-header {
    box-sizing: border-box;
    width: 100%;
    min-height: 900px;
    max-height: 1024px !important;
    padding: 50px 50px 9px 50px;
    position: relative;
    background-image: url("../img/header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-label {
        border: 1px solid black;
        display: none;
        background-image: url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
        background-size: 100%;
    }

    .navigation {
        width: 1195px;
        max-width: 100%;
        margin: 0 auto 5% auto;
        display: flex;

        .cart {
            fill: #998675;
        }

        .cart:hover {
            fill: #000;
        }

        .menu-txt:hover {
            color: #998675;
        }

        ul {
            margin: 16px 30px 16px 200px;
            list-style-type: none;
            min-width: 630px;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        ul li a {
            min-width: 40px;
            margin-left: 9px;
            display: block;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;
            text-decoration: none;
            font-family: montserrat-light, Arial, sans-serif;
            font-size: 14px;
        }

        .cart {
            margin-top: -5px;
        }

        .search {
            margin-left: 33px;
            width: 30px;
            height: 30px;
        }

        input[type="search"] {
            width: 30px;
            height: 30px;
            outline: none;
            background-color: transparent;
            background-image: url('../img/search.png');
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
        }

        input[type="search"]:focus {
            width: 300px;
            background-color: white;
            transition: width 1s ease-out;
            background-position: right;
        }
    }

    #menu1 {
        display: none;
    }

    input[type="checkbox"]:checked~.menu {
        display: block !important;
    }

    /*input[type="checkbox"]:checked ~ .logo-svg {
        fill: #000;
    }*/
    .turnabout {
        align-self: center;
        display: flex;
        flex-direction: column;

        .slider-arrow-r,
        .slider-arrow-l {
            top: 380px;
            right: 153px;
            display: block;
            width: 40px;
            height: 73px;
            position: absolute;
        }

        .slider-arrow-r:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
            left: -25px;
        }

        .slider-arrow-l {
            left: 153px;
        }

        .slider-arrow-l:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #d3c1ad;
            border-left: 2px solid #d3c1ad;
            transform: rotate(-45deg);
            position: absolute;
            top: 10px;
            left: -25px;
        }

        .slider-arrow-r:hover:after {
            border-top: 2px solid orange;
            border-right: 2px solid orange;
        }

        .slider-arrow-l:hover:after {
            border-top: 2px solid orange;
            border-left: 2px solid orange;
        }

        &-main {
            align-self: flex-start;
            margin: 0 auto;
        }

        &-main {
            color: #fff;
            width: 580px;
            margin: auto;
            text-align: center;

            &-h2 {
                font-size: 36px;
            }

            &-h1 {
                font-size: 52px;
            }

            &-p {
                font-size: 16px;
            }
        }
    }

    .link-switch {
        margin: 0 auto 0 auto;
        text-align: center;
        display: flex;
        width: 80px;

        a {
            display: block;
            box-sizing: content-box;
            width: 12px;
            height: 5px;
            background-color: #ccc;
            border-radius: 50%;
            border: 2px solid transparent;
            margin: 0 3px;
        }

        a:hover {
            border: 2px solid rgb(199, 178, 153);
            background-color: transparent;
        }
    }
}

.btn {
    display: flex;
    width: 170px;
    margin: 50px auto 0 auto;
    min-height: 50px;
    padding: 9px 9px;
    border-radius: 3px;
    background-color: #998675;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #736356;
}

.btn:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.btn:hover .btn-txt {
    color: #ccc;
}

.btn:active .btn-txt {
    color: #aaa;
}

.btn-txt {
    margin: auto;
    font-family: raleway-extrabold, Arial;
    font-size: 14px;
    color: #fff;
    line-height: 23px;
    text-align: center;
}

.svg-img {
    width: 100%;
    margin: 70px auto 50px auto;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
    justify-content: space-around;
    flex-wrap: wrap;

    .icon {
        padding-top: 20px;
        cursor: pointer;
        width: 267px;
        fill: rgb(85, 85, 85);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-family: raleway-semibold, Arial;
        color: #555;

        .text {
            font-family: montserrat-light, Arial;
            color: #8c8c8c;
            font-size: 14px;
            line-height: 24px;
            min-height: 73px;
            text-align: center;
        }
    }

    .icon:hover {
        fill: #c7b299;
        color: #c7b299;
    }
}

.ideas {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(251, 250, 248);
    padding-top: 100px;
    background-image: url("../img/browser-center.png"), url("../img/browser-left.png"), url("../img/browser-right.png");
    background-position: bottom center, 30% bottom, 807px bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;

    &-header {
        font-family: raleway-semibold, Arial;
        color: #555;
        font-size: 30px;
        font-weight: 600;
    }

    &-description {
        padding-bottom: 500px;
        margin-bottom: 0;
    }
}

.purchase {
    width: 100%;
    background-color: rgb(74, 46, 33);
    padding: 30px 10% 30px 21%;
    font-family: raleway-regular, Arial;
    color: #fff;
    font-size: 28px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-first-word {
        color: #c7b299;
    }

    &-p {
        font-family: montserrat-light, Arial;
        color: #615855;
        font-size: 18px;
        text-align: left;
        margin: 12px 0 0 0;
    }

    .btn {
        margin: 0 12px;
    }
}

.projects {
    width: 100%;
    padding: 50px 300px 50px 300px;
    text-align: center;

    &-header {
        font-family: raleway-semibold, Arial;
        color: #555;
        font-size: 30px;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }

    &-btn {
        cursor: pointer;
        width: auto;
        min-height: 32px;
        padding: 3px 9px;
        background-color: #fff;
        border: 1px solid #8c8c8c;
        text-transform: none;
    }

    &-btn:hover {
        background-color: #736356;
        border-bottom: 1px solid #998675;
    }

    &-btn:active {
        background-color: #998675;
    }

    &-btn:hover .btn-txt {
        color: #ccc;
    }

    &-btn:active .btn-txt {
        color: #fff;
    }

    &-btn-txt {
        margin: auto;
        color: #8c8c8c;
        font-family: montserrat-light, Arial;
        font-size: 14px;
        text-align: center;
    }

    &-button {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 630px;
        margin: 0 auto;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;

        &-card {
            position: relative;
            margin: 12px;
            width: 370px;

            .link,
            .lupa {
                position: absolute;
                display: none;
                left: 33%;
                top: 110px;
                fill: #fff;
            }

            .lupa {
                left: 70%;
            }

            .link:hover,
            .lupa:hover {
                fill: rgb(199, 178, 153);
            }

            .text {
                background-color: #fbfaf8;
                text-align: left;
                padding: 23px 30px;
                position: relative;
                margin-top: -8px;
                color: rgb(209, 209, 209);

                .header {
                    font-family: raleway-medium, Arial;
                    font-size: 20px;
                    color: rgb(199, 178, 154);
                    display: flex;
                    width: 100%;
                    margin-bottom: 9px;
                }
            }

            .text:before {
                padding: 0;
                content: "";
                border: 15px solid transparent;
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -25px;
                left: 30px;
            }
        }

        &-card:hover .link,
        &-card:hover .lupa {
            display: block;
        }

        &-card:hover .text {
            background-color: #362f2d;
            color: #c7b299;
        }

        &-card:hover .text:before {
            border-bottom: 10px solid #362f2d;
        }

        &-card:hover img {
            filter: brightness(33%);
        }

        &-card:hover .header {
            color: #fff;
        }
    }
}

.video {
    width: 100%;
    height: 705px;
    position: relative;
    background-image: url("../img/video.png");
    color: #fff;

    .main-video {
        height: 100%;
        width: 100%;
        visibility: hidden;
    }

    &-description {
        width: 557px;
        position: absolute;
        margin: 0 auto;
        top: 33%;
        left: 38%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        fill: #fff;

        .header {
            margin-top: 30px;
            font-family: raleway-medium, Arial;
            font-size: 30px;
        }

        .description {
            margin-top: 15px;
            font-family: montserrat-light, Arial;
            font-size: 16px;
            line-height: 28px;
        }

        .time {
            margin-top: 30px;
            font-family: montserrat-regular, Arial;
            color: #c7b299;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.excellent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 70px 0 12px 17%;
    background-image: url('../img/iPhone.png');
    background-color: rgb(251, 250, 248);
    background-repeat: no-repeat;
    background-position: 25% 100%;
    background-size: 295px 431px;

    &-content {
        width: 800px;
        margin: 93px auto 0 30%;
        text-align: left;

        &-header {
            font-family: raleway-semibold, Arial;
            color: #555;
            font-size: 30px;
            font-weight: 600;
        }

        &-description {
            font-family: montserrat-light;
            color: #8c8c8c;
            font-size: 16px;
            line-height: 28px;
        }

        ul {
            list-style: none;

            li {
                font-family: montserrat-light;
                color: #8c8c8c;
                font-size: 16px;
                line-height: 32px;
                position: relative;
                padding: 4px 0 5px 59px;
            }

            li:before {
                position: absolute;
                left: 12px;
                content: url('../img/01.png');
            }
        }
    }
}

.statistics {
    width: 100%;
    background-color: rgb(75, 47, 33);
    text-align: center;

    &-content {
        display: flex;
        width: 990px;
        max-width: 90%;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;

        &-item {
            cursor: pointer;
            padding: 0 9px;
            fill: #c7b299;
            margin: 70px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .count {
                font-family: montserrat-extralight;
                color: #fff;
                font-size: 48px;
                line-height: 36px;
                margin-top: 21px;
            }

            .title {
                margin: 17px 0 20px 0;
                font-family: montserrat-light;
                color: #c7b299;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }

        &-item:hover {
            fill: #fff;
        }

        &-item:hover .count {
            color: #c7b299;
        }

        &-item:hover .title {
            color: #fff;
        }

        &-item:after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 0 auto;
            align-self: flex-end;
        }

        &-item:hover:after {
            background-color: #c7b299;
        }
    }
}

.recent {
    width: 100%;
    text-align: center;
    padding: 50px;

    .arrow {
        cursor: pointer;
        margin: 39px 9px 0 0;
        fill: #d1d1d1;
    }

    .arrow:hover {
        fill: #c7b299;
    }

    &-header {
        font-family: raleway-semibold, Arial;
        color: #555;
        font-size: 30px;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    &-description {
        display: block;
        width: 700px;
        max-width: 100%;
        font-family: montserrat-light, Arial;
        color: #8c8c8c;
        font-size: 16px;
        line-height: 28px;
        margin: 12px auto;
    }

    .recent-content {
        width: 1200px;
        max-width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;

        .item {
            position: relative;
            width: 370px;
            cursor: pointer;

            .item-header {
                padding: 25px;
                text-align: left;

                .header {
                    display: block;
                    width: 100%;
                    font-family: raleway-medium, Arial;
                    color: #555;
                    font-size: 20px;
                    margin-bottom: 15px;
                }

                .description {
                    display: block;
                    width: 100%;
                    font-family: montserrat-light, Arial;
                    color: #8c8c8c;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 15px;
                }

                .link {
                    text-decoration: none;
                    font-family: montserrat-light, Arial;
                    color: #c7b299;
                    fill: #c7b299;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: left;
                }
            }

            .day {
                position: absolute;
                top: 23px;
                height: 35px;
                left: 23px;
                width: 50px;
                padding-top: 8px;
                background-color: #363636;
                font-family: montserrat-light, Arial, Helvetica, sans-serif;
                color: #fff;
                font-size: 24px;
                line-height: 20px;
                text-align: center;
            }

            .month {
                position: absolute;
                top: 58px;
                left: 23px;
                width: 50px;
                font-family: roboto-regular, Arial, Helvetica, sans-serif;
                color: #fff;
                background-color: #252525;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }

            &:hover {
                background-color: #332b29;
            }

            &:hover .day {
                background-color: #c7b299;
            }

            &:hover .month {
                background-color: #a48d72;
            }

            &:hover img {
                filter: brightness(33%);
            }
        }
    }
}

.logos {
    width: 100%;
    padding: 0 50px;
    background-image: url('../img/footer-logos.jpg');

    &:hover {
        filter: brightness(75%);
    }

    &-content {
        margin: 0 auto;
        padding: 7.5% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1150px;

        img {
            max-width: 20%;
        }

        img:hover {
            filter: brightness(50%);
        }
    }
}

.main-footer {
    background-color: rgb(18, 18, 18);

    &-content {
        margin: 0 auto;
        padding: 3% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        max-width: 1250px;

        .item {
            margin-top: 21px;
            width: 265px;

            .header {
                display: block;
                font-family: raleway-bold, Arial;
                color: #fff;
                font-size: 24px;
                text-align: left;
                margin-bottom: 39px;
            }

            .twitter {
                font-family: montserrat-light;
                color: #545454;
                font-size: 14px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 300;
                line-height: 20px;
                /* Приближение из-за подстановки шрифтов */
                text-align: left;

                a {
                    color: #00bff3;
                }

                .href {
                    color: #959595;
                }

                a:hover {
                    color: #fff;
                }
            }

            .description {
                width: 258px;
                font-family: montserrat-regular, Arial;
                color: #545454;
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
            }

            .border {
                padding-bottom: 25px;
                border-bottom: 2px solid #252525;
            }

            .item-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 270px;

                .widget {
                    margin: 9px 0 10px 0;
                }

                img:hover {
                    filter: brightness(43%);
                }
            }

            .signature {
                display: block;
                width: 100%;
                font-family: montserrat-light, Arial;
                color: #363636;
                font-size: 12px;
                line-height: 20px;
                text-align: left;
            }

            .center {
                color: #c7b299;

                .date {
                    color: #fff;
                }
            }

            hr {
                color: #545454;
            }

            .link {
                text-decoration: none;
                font-family: montserrat-regular, Arial;
                color: #d1d1d1;
                fill: #d1d1d1;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
            }

            .link:hover {
                color: #fff;
                fill: #fff;
            }
        }
    }

    .copyright {
        width: 100%;
        padding: 50px;
        background-color: #090909;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .left {
            margin-left: 10%;
            font-family: montserrat-light, Arial, sans-serif;
            color: #545454;
            font-size: 13px;
            line-height: 20px;
            text-align: left;

            .waxon {
                margin: 0 3px;
                color: #959595;
            }

            a {
                text-decoration: none;
                color: #545454;
            }

            .faq {
                margin: 0 3px;
                color: #c7b299;
            }
        }

        .right {
            margin-right: 10%;
            font-family: montserrat-light, Arial, sans-serif;
            color: #545454;
            font-size: 13px;
            line-height: 20px;
            text-align: right;

            &-item {
                margin-right: 5px;
                text-decoration: none;
                color: #959595;
            }
        }
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
}

.logo-svg {
    fill: #fff;
}

.logo-txt {
    font-family: raleway-regular, Arial;
    color: #fff;
    font-size: 34px;
    text-align: right;
}

.logo:hover .logo-svg {
    fill: #998675;
    stroke: #fff;
}

.logo:hover .logo-txt {
    color: #998675;
}